body{
    background-color: #DBE2EF
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: lightgray;
    border-width: 7px;
    width: 11%;
}

h1 {
    color: #112D4E;
}

h3 {
    color: #3F72AF;
}